.side-bar-wrapper {
    position: sticky;
    width: 300px;
    height: calc(100vh - 50px);
    background-color: var(--main-white-color);
    top: 60px;
    padding: 50px 27px;
}

.side-bar-wrapper .user-name span {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    transform: translate(5px, 3px);
}

.side-bar-wrapper .user-name svg {
    font-size: 1.7rem;
}

.side-bar-wrapper .user-name {
    margin-left: 20px;
}

.active {
    background-color: var(--main-red-color);
    color: var(--secondary-white-color);
    font-weight: bold;
}

.function__list {
    margin-top: 40px;
}

.item {
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 18px;
}

.item span {
    margin-left: 10px;
}

.item:hover {
    cursor: pointer;
}
